@font-face {
   font-family: 'Gilroy-SemiBold';
   font-display: swap;
   src: url('file:///C:/Users/Gt-500/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-03_190724/fonts/Gilroy-SemiBold/font.ttf');
}
